section.banner {
min-height: 100vh;
padding: 150px 0;
background-color: var(--secondary_color);
display: flex;
align-items: center;
justify-content: center;
}
.overview .name-overview {
    flex: 1;
    padding-right: 90px;
}

section.banner .profile-img {
flex-basis: 290px;
border-radius: 100%;
overflow: hidden;
border: 5px solid var(--border_light);
transition: border .3s ease-in-out;
}
section.banner .profile-img:hover {
    border-color: var(--border);
}
section.banner .JustClick {
margin-bottom: 48px;
}
section.banner .location .contact-icon {
gap: 20px;
margin-top: 30px;
}
section.banner .location .contact-icon path {
fill: var(--slate_light);
}
section.banner .location-text p span {
display: inline-block;
vertical-align: middle;
margin-right: 10px;
}
section.banner .location-text p span.icon.area svg path {
stroke: var(--slate_light);
}
section.banner .jsProjects {
position: fixed;
inset: 0;
padding: 100px 20px;
display: flex;
align-items: center;
justify-content: center;
z-index: 100;
background-color: var(--secondary_color);
transition: all .3s ease-in-out;
opacity: 0;
visibility: hidden;
}
section.banner .jsProjects.isActive {
opacity: 1;
visibility: visible;
}
section.banner .jsProjects .cross {
position: fixed;
top: 0;
right: 0;
cursor: pointer;
width: 48px;
height: 48px;
display: flex;
align-items: center;
justify-content: center;
z-index: 2;
padding: 15px;
}
.overview .name-overview .location {
    margin-top: 30px;
}
section.banner .jsProjects .cross:after {
content: "";
position: absolute;
inset: 0;
background-color: var(--primary_color);
z-index: -1;
opacity: .9;
}
section.banner .project-wrapper {
    max-width: 650px;
    width: 100%;
    max-height: 370px;
    overflow: hidden;
    height: 100%;
}
section.banner .project-wrapper .project-title {
gap: 1px;
border-radius: 5px;
overflow: hidden;
}
section.banner .project-wrapper .titles{
flex: 1;
text-align: center;
cursor: pointer;
transition: all .3s ease-in-out;
}
section.banner .project-wrapper .titles,
section.banner .project-wrapper .project-details .mp-list a{
    background-color: var(--primary_color);
    color: var(--developer_light);
    letter-spacing: .5px;
    font-size: 17px;
    padding: 15px 20px;
    font-weight: 500;
}
section.banner .project-wrapper .project-details .mp-list a {
display: block;
text-transform: capitalize;
border-radius: 5px;
}
section.banner .project-wrapper .titles.active,
section.banner .project-wrapper .project-details .mp-list a:hover {
    background-color: var(--developer_light);
    color:var(--primary_color) ;
}
section.banner .project-wrapper .project-details {
    margin-top: 10px;
    position: relative;
    max-height: 310px;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 20px;
}
section.banner .project-wrapper .project-details::-webkit-scrollbar {
display: none;
}
section.banner .project-wrapper .projects-list {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
section.banner .project-wrapper .projects-list.active {
    opacity: 1;
    position: relative;
    z-index:1;
}
section.banner .project-wrapper .project-details .mp-list a {
padding: 15px 20px;
font-weight: 500;
}
section.banner .project-wrapper .project-details .mp-list:not(:last-child){
    margin-bottom: 10px;
}
section.banner .project-wrapper .games.titles {
    cursor: progress;
    pointer-events: none;
}
@media(min-width:768px) and (max-width:1024px){
section.banner .overview.flex{
 align-items: flex-start;
}
.overview .name-overview {
    padding-right: 40px;
}
section.banner .profile-img {
    flex-basis: 200px;
}
}
@media(max-width:767px){
    section.banner {
        padding: 130px 0;
    }
section.banner .overview {
    flex-direction: column-reverse;
    gap: 48px;
}
section.banner .profile-img {
flex-basis: 100%;
max-width: 200px;
}
section.banner .name-overview {
    text-align: center;
    padding: 0;
}
section.banner .location p {
    font-size: 14px;
}
section.banner .location svg{
    width: 18px;
}
section.banner .location-text p span{
    margin-right: 5px;
}
section.banner .location p {
    font-size: 14px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
section.banner .location p span.text {
    flex: 1;
}
section.banner .JustClick {
    text-align: center;
}
section.banner .location .contact-icon {
    justify-content: center;
}
section.banner .project-wrapper .titles {
    font-size: 12px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.banner .project-wrapper .project-details .mp-list a {
    text-decoration: none;
    font-size: 12px;
}
}